
body{
  background-color: rgb(31 41 55 / 1)
}
.heroSection{
  position: relative;
  place-items: center;
  background:black;
}
/* bg-cover bg-center bg-no-repeat opacity-40 */
.heroSection::before{
background-image: url('./assets/heroImg.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
content:'';
opacity: 0.3;
position: absolute;
inset:0;
filter: blur(4px);
}
h1{
  color:black;
  isolation: isolate;
}
.slick-slider {
  max-width: 100vw;
}
.slick-dots{
  position: absolute;
    left: 0;
    bottom: -20;
    padding-left:8px;
    text-align: left
}

.slick-dots ul li{
  margin-right: 16px;
}
.slick-dots li.slick-active>div{
  background-color: white !important;
}
/* the slides */
/* .slick-slide {
  margin: 0 27px;
} */

/* the parent */
/* .slick-list {
  margin: 0 -27px;
} */
.slick-list {margin: 0 -8px;}
.slick-slide>div {padding: 0 8px;}